/* Stylesheet of ReceiptPreview.tsx */

@import 'src/theme/shadow.scss';

.receipt_preview_container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .receipt {
        height: 90%;
        border-radius: 12px;

        /* box-shadow */
        box-shadow: $box-shadow;
        -webkit-box-shadow: $webkit-box-shadow;
        -moz-box-shadow: $moz-box-shadow;
    }
}