/* Stylesheet of ReceiptProcessorContainer.tsx */

.receipt_processor_container {
    height: 100%;

    .flex_container {
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}